
.viewRep-button {
    margin-left: 870px;
    padding: 10px 30px;
    border: 1.5px solid #003399;
    border-radius: 20px;
    background-color: white;
    color: #003399;
    font-size: 12px;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-weight: 400;
    margin-top: 10px;
}

.viewRep-button:hover {
    background-color: #003399;
    color: white;
}

.table-container {
    margin-top: 20px;
    margin-left: 160px; 
    padding: 20px;
    width: calc(100% - 160px); 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.table-container h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #003399;
    width: 100%;
    padding-bottom: 10px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, 
.table-container td {
    padding: 8px;
    text-align: center;
    border: 2px solid #5c5656;
}

.table-container th:nth-child(1), 
.table-container td:nth-child(1) {
    width: 20%;
}

.table-container th:nth-child(2), 
.table-container td:nth-child(2) {
    width: 15%;
}

.table-container thead tr {
    background-color: white;
    font-weight: 400;
    color: #4d4747;
}