body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .logo {
    width: 300px;
    height: auto;
    margin-bottom: 40px;
  }

  .login-button {
    padding: 10px 50px;
    border: 1.5px solid #003399;
    border-color: #003399;
    border-radius: 20px;
    background-color:white;
    color:#003399;
    font-size: 12px;
    cursor: pointer;
    margin-right: 50px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

  .signup-button {
    padding: 10px 50px;
    border: 1.5px solid #003399;
    border-color: #003399;
    border-radius: 20px;
    background-color:white;
    color:#003399;
    font-size: 12px;
    cursor: pointer;
    margin-left: 50px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

  .login-button:hover {
    background-color: #003399;
    color:white;
  }

  .signup-button:hover {
    background-color: #003399;
    color:white;
  }

  .button-container {
    display: flex;
    justify-content: space-between; /* or center, depending on your layout */
}
