<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Places List</title>
    <script src="https://kit.fontawesome.com/e9d3d528d3.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="foodplaces_list.css">
</head>
<body>
    <!-- Sidebar -->
  <div class="sidebar">
    <div class="logo">
      <img src="images/logo.png" alt="Bloemen Bites Logo">
    </div>
    <div class="navigation">
      <a onclick="updateContent('Search button clicked!')">
        <i class="fa-solid fa-magnifying-glass" style="color: #003399;"></i>
        <p>Search</p>
      </a>
      <a onclick="updateContent('Reviews button clicked!')">
        <i class="fa-solid fa-star" style="color: #003399;"></i>
        <p>Reviews</p>
      </a>
      <a onclick="updateContent('Profile button clicked!')">
        <i class="fa-solid fa-user" style="color: #003399;"></i>
        <p>Profile</p>
      </a>
      <a onclick="updateContent('Logout button clicked!')">
        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #fc6467;"></i>
        <p>Logout</p>
      </a>
    </div>
  </div>
  
  <!-- Main Content Area -->
  <div class="content">
    <h1>Bloemen Food Places</h1>
        <div class="restaurant-list">
         <% restaurants.forEach((restaurant) => { %>
                <div class="restaurant-item">
                  <img src="<%= restaurant.pfp %>" alt="<%= restaurant.restoName %>">
                    <div class="restaurant-info">
                      <h3><%= restaurant.restoName %></h3>
                      <p><%= restaurant.tags %></p>
                  </div>
                
             </div>
         <% }) %>
      </div>
    
</div>


</body>
</html>